modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "cd Client && npm run build && cd ../api && npm start"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 45829728
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Client && npm install && npm run dev"
